<section id="footer">
    <div class="title-text">
      <h1>CONTACT</h1>
    </div>
    <div class="footer-row">
      <div class="footer-left">
        <h3>About</h3>
        <p>It's a platform which will help you to find your suitable home according to your critereas.You can also choose specific roommates of yours</p>
      </div>
    <div class="footer-right">
      <h3>Get In Touch</h3>
      <p>IUT,Board Bazar,Gazipur<i class="fa fa-map-marker"></i> </p>
      <p>+0123-456789<i class="fa fa-phone"></i> </p>
      <p>jubayerislam@iut-dhaka.edu<i class="fa fa-paper-plane"></i> </p>
    </div>
    </div>
  </section>