<div class="nav">
  <ul class="navbar-list">
    <li>
      <a class="fa fa-home fa-2x" href="/#" style="margin-right: -10px; margin-left: 10px"></a>
    </li>
    <% if(user.id) { %>
      <li>
        <a href="<%=user.mode%>/profile/<%=user.id%>">
          <%=user.name? user.name: user.id%>
        </a>
      </li>
      <li><a href="logout">Log Out</a></li>

      <% if(user.mode==='student' ) { %>
        <li><a href="student/coupon">Coupon</a></li>
        <% } %>

          <li><a href="<%=user.mode%>/requests">Requests</a></li>

          <% } else { %>
            <li><a href="student/login">Log In</a></li>
            <% } %>
  </ul>
</div>