<% if(flatList) { %>
    <div
      style="display: grid; grid-template-columns: 400px 400px; column-gap: 100px"
    >
   
      <% flatList.forEach((flat)=> { %>
      <div><%- include ("./showOwnerFlat.ejs",{misc, flat}) %></div>
      <% }) %>
    </div>
    <% } %>

<% if(flatList.length==0){%>
        <img src="/public/images/upload.png" alt="No Flats" />
      <% } %>
    
    