<% if(flatList) { %>
<div
  style="display: grid; grid-template-columns: 400px 400px; column-gap: 120px; background-color: #F9F5EB;"
>
  <% flatList.forEach((flat)=> { %>
  <div><%- include ("./showOneFlat.ejs",{misc, flat}) %></div>
  <% }) %>
</div>
<% } %>
