<style>
  .upload {
    width: 60%;
  }

  .No {
    display: grid;
    place-items: center;
  }

  .No a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  ​ .No a:link {
    text-decoration: none;
  }

  ​ .No a:visited {
    text-decoration: none;
  }

  ​ .No a:hover {
    text-decoration: none;
  }

  ​ .No a:active {
    text-decoration: none;
  }

  .No h1 {
    font-size: 72px;
    color: grey;
    font-weight: 900;
    font-family: inherit;
    text-shadow: 2px 2px 5px grey;
  }
</style>
<% if(flatList) { %>
  <div style="display: grid; grid-template-columns: 400px 400px; column-gap: 80px; padding:25px; padding-left: 10px;">

    <% flatList.forEach((flat)=> { %>
      <div>
        <%- include ("./showOwnerFlat.ejs",{misc, flat}) %>
      </div>
      <% }) %>
  </div>
  <% } %>

    <% if(flatList.length==0){%>
      <div class="No">
        <a href="../../flat/register">
          <h1>ADD FLATS <i class="fa fa-upload"></i></h1>
        </a>
      </div>
      <% } %>