<head>
  <link rel="stylesheet" href="/css/temp.css">
</head>

<div class="wrapper">

  <div class="row align-items-center" style="height:100%;">

    <div class="col">

      <div class="container">

        <div class="card">

          <div class="card-body" style="height:100%;">

            <div class="input-group mb-3 search">
              <input type="text" class="pl-5 form-control" placeholder="Search">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
            </div>

            <div class="image-overlay d-sm-none"></div>

            <div class="row align-items-center" style="height:100%;">

              <div class="pl-5 col-sm-5">

                <h1 class="">Buy Elite Real Estate</h1>
                <h2 class=" mb-5">Live like an artist</h2>

              </div>

              <div class="col-sm-7 image d-none d-sm-block" style="height:100%;"></div>

            </div>

            <div class="info d-sm-block d-none">

              <h5 class="mt-3">RICHMOND HEIGHTS, Ohio </h5>
              <p class="d-none d-lg-block">
                Proin eget placerat odio. Ut finibus tortor in egestas scelerisque. Phasellus felis lacus, gravida vel
                ultricies in, gravida vel nunc. Vestibulum vitae pharetra lorem, eu luctus ipsum.
              </p>
              <a href="#" class="btn btn-default bg-white text-dark d-lg-none">Know More </a>

            </div>

            <div class="info-mob text-white d-sm-none">

              <h5 class="mt-3">RICHMOND HEIGHTS, Ohio </h5>
              <a href="#" class="btn btn-default bg-white text-dark">Know More </a>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<script>
  $(document).ready(function () {
    $(".form-control").focusin(function () {
      $(".search").addClass("search-focus");
    });
    $(".form-control").focusout(function () {
      $(".search").removeClass("search-focus");
    });
  });

</script>