<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home - Abaash</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Galada&family=Montserrat:ital,wght@0,600;1,500&family=Righteous&display=swap"
    />
    <!-- Awesome fonts -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <%- include("./partials/navbar.ejs") %> <%-
    include('./partials/advanced_search.ejs', { misc }) %> <%- include
    ("./partials/showFlats.ejs", {misc, flatList}) %> <%-
    include("./partials/footer.ejs") %>
  </body>
</html>
