<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Abaash</title>
  </head>
  <body>
    <ul>
      <li><a href="./">Home</a></li>

      <% if(uid) { %>
        <li><a href="profile"><%=uid%></a></li>

        <% if(mode==='owner') { %>
          <li><a href="owner/myflats">My Flats</a></li>
        <%} %>

        <% else if(mode==='student') { %>
          <li><a href=student/myflat">My Flat</a></li>
          <li><a href="student/coupon">Coupon</a></li>
        <%} %>

        <li><a href="map">Map</a></li>
        <li><a href="notifications">Notifications</a></li>
        <li><a href="sos">SOS</a></li>
      <%}
      
      <% else{ %>
      <li><a href="student/login">Login</a></li>
      <%} %>
    </ul>
  </body>
</html>
