<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Abaash</title>
  </head>
  <body>
    <% if(uid) { %>
    <a href="./profile">My Profile</a>
    <%} else{ %>
    <a href="./student/login">Login</a>
    <%} %>
  </body>
</html>
