<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
  <title>Home - Abaash</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Galada&family=Montserrat:ital,wght@0,600;1,500&family=Righteous&display=swap" />
  <style>

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      /* font-family: Lato, Helvetica,sans-serif; */
      font-family: "Montserrat", sans-serif;
    }

    .body {
      background: url("../images/seamless2.png");
    }

    .fix {
      /* background: url(" ../images/seamless2.png"); */
      display: grid;
      place-content: center;
      /* font-family: Montserrat, sans-serif; */
      min-height: 80vh;
    }

    .container{
      padding-top:3vh;
    }
  </style>
</head>

<body>
  <%- include("./partials/navbar.ejs") %>
    <!-- <a href="../">Home</a> -->
    <div class="container">
      <h2>Search Results</h2>
      <div class="fix">
        <%- include ("./partials/showFlatList.ejs") %>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>

</html>