<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home - Abaash</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Galada&family=Montserrat:ital,wght@0,600;1,500&family=Righteous&display=swap"
    />
  </head>

  <body>
    <a href="../">Home</a>
    <h2>Search Results</h2>
    <%- include ("./partials/showFlats.ejs", {misc, flatList:flatList}) %>
  </body>
</html>
