/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.profile {
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  box-shadow: 0 5px 20px -6px #000;
  border-radius: 8px;
  height: 40vh;
  text-align: center;
}

.lol {
  display: flex;
  justify-content: center;
}
*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}


.image-container {
  max-height: 100%;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 20%;
  padding-left: 10%;
}

.owner-img {
  height: 40vh;
  width: 20vw;
  border-radius: 50%;
  /* border: 0.5px solid #4b4b4d; */
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 28px;
  margin-right: auto;
}

.info>h4 {
  color: #4b4b4d;
}


.info>h2 {
  margin-top: 15px;
}

.profile {
  margin-left: 9%;
  margin-right: 15%;
  margin-top: 7%;
  padding-top: 10%;
  box-shadow: 0 5px 20px -6px #000;
  border-radius: 8px;
  height: 80vh;
  text-align: center;
}

.lol {
  padding-left: 5%;
}

      .buttons{
        margin-top: 30px;
        margin-left: 20px;
      }

       
       
       .button-3 {
        margin-right: 10px;
         appearance: none;
         background-color: #2ea44f;
         border: 1px solid rgba(27, 31, 35, .15);
         border-radius: 6px;
         box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
         box-sizing: border-box;
         color: #fff;
         cursor: pointer;
         display: inline-block;
         font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
         font-size: 14px;
         font-weight: 600;
         line-height: 20px;
         padding: 6px 16px;
         position: relative;
         text-align: center;
         text-decoration: none;
         user-select: none;
         -webkit-user-select: none;
         touch-action: manipulation;
         vertical-align: middle;
         white-space: nowrap;
       }
       
       .button-3:focus:not(:focus-visible):not(.focus-visible) {
         box-shadow: none;
         outline: none;
       }
       
       .button-3:hover {
         background-color: #2c974b;
       }
       
       .button-3:focus {
         box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
         outline: none;
       }
       
       .button-3:disabled {
         background-color: #94d3a2;
         border-color: rgba(27, 31, 35, .1);
         color: rgba(255, 255, 255, .8);
         cursor: default;
       }
       
       .button-3:active {
         background-color: #298e46;
         box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
       }

       