<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%=name%></title>
  </head>
  <body>
    <a href="../..">Home</a>
    <% if(profileUser) { %>
    <h1>Name: <%=name%></h1>
    <h1>Gender: <%=gender? 'Male': 'Female'%></h1>
    <h1>Blood Group: <%=bloodgroup%></h1>
    <% } else { %>
    <p>USER NOT FOUND!</p>
    <% } %>
  </body>
</html>
